@inherits LayoutComponentBase

<PageTitle>VGAResults</PageTitle>

<div class="page no-border">
    <main>
        <article class="content px-4 no-border">
            @Body
        </article>
    </main>
</div>
